.form{
    border:1px solid blue;
    width:312px;
    padding:0px 10px 10px;
}
input[type="text"]{
    width:300px;
    height:30px;
    border:1px solid grey;
    font-size: 20px;
    padding: 2px 5px;
    margin-top:10px;
}
input[type="button"]{
    width:100px;
    height:30px;
    border:1px solid grey;
    font-size: 20px;
    padding: 2px 5px;
    margin-top:10px;
    margin-left:calc(50% - 50px);
    cursor:pointer;
}
table, tbody, tr, td{
    border:1px solid red;
    padding:0px;
    margin:0px;
}
td{
    width:100px;
    padding:3px;
}

#holder{
    position:absolute;
    top:100px;
    left:100px;
    width:600px;
    height:800px;
    border:5px solid red;
    overflow:auto;
}
#panElm{
    width:200px;
    height:200px;
}
img{
    border:5px solid blue;
    width:auto;
    height:100%;
}
.mouseMove{
    cursor:move;
}
